/* ANIMATION DE SCROLL  */
html {
    scroll-behavior: smooth;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}

.no-scroll {
    overflow: hidden;
}
/* --- */

/* LA SCROLLBAR --> https://w3generator.com/scrollbar */ 
::-webkit-scrollbar{
    width: 14px;
    height: 14px;
    }
    ::-webkit-scrollbar-thumb{
    background: #2E6335;
    border-radius: 30px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: #529E5E;
    }
    ::-webkit-scrollbar-track{
    background: #F1E8DC;
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 0px #F1E8DC;
    }
/* --- */

/* BODY */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Itim', cursive;
}

.mask {
    display: none;
}
/* --- */


/* HEADER AVEC ENTRER DU SITE ET PRESENTATION DU PROJET  */
header {
    height: 100vh;
}

    /* ENTRER DU SITE */
.headerEntrer {
    background-image: url('img/BG.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

h2 {
    color: #e6dac6;
    text-align: center;
}

.headerEntrer .nom {
    font-size: 4.5em;
    color: #538B9C;
    position: relative;
    top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.headerEntrer .texte {
    font-size: 4.5rem;
    color: #538B9C;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ConteneurBoutonEntrer {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.headerEntrer h2 {
    position: absolute;
    color: #538B9C;
    text-align: center;
    font-size: 5rem;
    transition: 0.5s;
}

.headerEntrer h2:hover {
    cursor: pointer;
    opacity: 80%;
    transition: 0.5s;
}

    /* FIN DE L'ENTRER DU SITE */

    /* PRESENTATION DU SITE */
.headerPresentation .nom {
    font-size: 4.5rem;
    color: #538B9C;
    position: relative;
    top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.headerPresentation .texte {
    padding-right: 35vh;
    padding-left: 35vh;
    font-size: 2.5rem;
    color: #3D7144;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    overflow: auto;
}

.headerPresentation .nom {
    font-size: 4.5rem;
    color: #538B9C;
    position: relative;
    top: -8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


@media (max-width: 2000px) {
    .headerPresentation .nom {
        font-size: 3.5rem;
        color: #538B9C;
        position: relative;
        top: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .headerPresentation .texte {
        padding-right: 35vh;
        padding-left: 35vh;
        font-size: 3rem;
        color: #3D7144;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        overflow: auto;
    }
    .headerPresentation .titre {
        font-size: 3.5rem;
        color: #538B9C;
        position: relative;
        top: -8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 1420px) {
    .headerPresentation .nom {
        font-size: 3rem;
        color: #538B9C;
        position: relative;
        top: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .headerPresentation .texte {
        padding-right: 35vh;
        padding-left: 35vh;
        font-size: 1.5rem;
        color: #3D7144;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        overflow: auto;
    }
    .headerPresentation .titre {
        font-size: 3rem;
        color: #538B9C;
        position: relative;
        top: -8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}@media (max-width: 1700px) {
    .headerPresentation .nom {
        font-size: 3.5rem;
        color: #538B9C;
        position: relative;
        top: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .headerPresentation .texte {
        padding-right: 35vh;
        padding-left: 35vh;
        font-size: 2rem;
        color: #3D7144;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        overflow: auto;
    }
    .headerPresentation .titre {
        font-size: 3.5rem;
        color: #538B9C;
        position: relative;
        top: -8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 1420px) {
    .headerPresentation .nom {
        font-size: 3rem;
        color: #538B9C;
        position: relative;
        top: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .headerPresentation .texte {
        padding-right: 35vh;
        padding-left: 35vh;
        font-size: 1.5rem;
        color: #3D7144;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        overflow: auto;
    }
    .headerPresentation .titre {
        font-size: 3rem;
        color: #538B9C;
        position: relative;
        top: -8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 992px) {
    .headerPresentation .nom {
        font-size: 2rem;
        color: #538B9C;
        position: relative;
        top: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .headerPresentation .texte {
        padding-right: 35vh;
        padding-left: 35vh;
        font-size: 1.5rem;
        color: #3D7144;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;
        overflow: auto;
    }
    .headerPresentation .titre {
        font-size: 2rem;
        color: #538B9C;
        position: relative;
        top: -8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
    /* FIN DE PRESENTATION DU SITE */


/* PORTRAIT CHINOIS  ET SECTION RAJOUTER*/

.portrait-chinois {
    width: 100%;
    height: auto;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-image: url('img/BG.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

section img {
    height: 40vh;
    border-radius: 50%;
    -webkit-box-shadow: -4px 12px 6px 6px rgba(0, 0, 0, 0.48);
    box-shadow: -4px 12px 6px 6px rgba(0, 0, 0, 0.48);
}

section .imgjustif {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .imgjustif-even {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

section .justification {
    background-color: #6c83703b;
    margin-right: 5vw;
    margin-left: 5vw;
    text-align: justify;
    border-radius: 15px;
    font-size: 2rem;
    color: #3D7144;
    padding: 20px;
    user-select: none;
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
}

section .analogie {
    user-select: none;
    position: absolute;
    margin-top: 16vh;
    color: #2E6335;
    font-size: 3.2rem;
}

.analogie span {
    color: #538B9C;
}


/* LE FORMULAIRE */

    /* INTRODUCTION FORMULAIRE */
.conteneurIntro h1 {
    font-size: 8rem;
    color: #538B9C;
}

.conteneurIntro p {
    margin-top: -100px;
    font-size: 3.5rem;
    color: #538B9C;
}

.conteneurIntro .bouton {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.conteneurIntro .cliqueBouton {
    height: 33vh;
    width: 80%;
    border-radius: 160px;
    color: #538B9C;
    background-color: white;
    font-size: 6.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: 0.5s;
}

.conteneurIntro .cliqueBouton:hover {
    cursor: pointer;
    opacity: 90%;
    background-color: #bbbbbb;
    transition: 0.5s;
}

    /* FIN INTRODUCTION FORMULAIRE */

form {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 813vh;
}

form a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 3rem;
    transition: 0.5s;
    user-select: none;
}

form a:hover {
    cursor: pointer;
    opacity: 90%;
    color: #bbbbbb;
    transition: 0.5s;
}

.formulaire {
    padding: 20px;
    background-color: #538B9C;
    max-width: 60%;
    width: 100%;
    height: 100%;
    max-height: 70vh;
    border-radius: 50px;
}

form h1 {
    margin-top: -5px;
    color: white;
    font-size: 5.5rem;
}

input {
    width: 90%;
    height: 40px;
    font-size: 1.3rem;
    margin-bottom: 4.5vh;
}

form .liste {
    margin-top: -70px;
}
    /* BOUTON FORMULAIRE */
input[type*="button"] {
    width: 50%;
    height: 50px;
    margin-top: -4vh;
    font-size: 2rem;
}

input[type*="button"]:hover {
    cursor: pointer;
}
    /* FIN BOUTON FORMULAIRE */


@media (max-width: 1802px) {
    input {
        width: 90%;
        height: 30px;
        font-size: 1.1rem;
        margin-bottom: 4.5vh;
    }
    form a {
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 2rem;
        transition: 0.5s;
        user-select: none;
    }
    form h1 {
        margin-bottom: 10vh;
        color: white;
        font-size: 4rem;
    }
}

@media (max-width: 1502px) {
    input {
        width: 90%;
        height: 30px;
        font-size: 1.1rem;
        margin-bottom: 4.5vh;
    }
    form a {
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 2rem;
        transition: 0.5s;
        user-select: none;
    }
    form h1 {
        margin-bottom: 10vh;
        color: white;
        font-size: 3rem;
    }
}

/* LES MENTIONS LEGALES  */
.volet-visible {
    background-image: none !important;
    background-color: #f4edde;
    height: 30em;
    overflow: hidden;
    cursor: pointer;
}

.volet-invisible {
    height: 3em;
    overflow: hidden;
    cursor: pointer;
}

.formsection{
    height: 95vh !important;
}

footer h1 {
    color: #538B9C;
}